<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Lines ol8</title>
        <script src="https://cdn.jsdelivr.net/npm/ol@v8.1.0/dist/ol.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v8.1.0/ol.css">
        <style>
.map {
    width: 100%;
    height: 600px;
}
.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}
        </style>
    </head>
<body onload="fetch_layers()">
    <div id="map" class="map"></div>
    <div style="display: none;">
        <!-- Clickable label for Vienna -->
        <a class="overlay" id="vienna" target="_blank" href="https://en.wikipedia.org/wiki/Vienna">Vienna</a>
        <div id="marker" title="Marker"></div>
        <!-- Popup -->
        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
        </div>
    </div>
    <button id="test" onclick="test()">test</button>
    <h3>layers</h3>
    <div id="layers" class="layers"></div>

<script>
const closer = document.getElementById('popup-closer');

const image = new ol.style.Circle({
    radius: 5,
    fill: null,
    stroke: new ol.style.Stroke({color: 'red', width: 1}),
});

const styles = {
    'Point': new ol.style.Style({
        image: image
    }),
    'LineString': new ol.style.Style({
        stroke: new ol.style.Stroke({
            color: 'green',
            width: 1,
        }),
    }),
    'MultiLineString': new ol.style.Style({
        stroke: new ol.style.Stroke({
            color: 'green',
            width: 1,
        }),
    }),
    'MultiPoint': new ol.style.Style({
        image: image,
    }),
    'MultiPolygon': new ol.style.Style({
        stroke: new ol.style.Stroke({
            color: 'yellow',
            width: 1,
        }),
        fill: new ol.style.Fill({
            color: 'rgba(255, 255, 0, 0.1)',
        }),
    }),
    'Polygon': new ol.style.Style({
        stroke: new ol.style.Stroke({
            color: 'blue',
            lineDash: [4],
            width: 3,
        }),
        fill: new ol.style.Fill({
            color: 'rgba(0, 0, 255, 0.1)',
        }),
    }),
    'GeometryCollection': new ol.style.Style({
        stroke: new ol.style.Stroke({
            color: 'magenta',
            width: 2,
        }),
        fill: new ol.style.Fill({
            color: 'magenta',
        }),
        image: new ol.style.Circle({
            radius: 10,
            fill: null,
            stroke: new ol.style.Stroke({
                color: 'magenta',
            }),
        }),
    }),
    'Circle': new ol.style.Style({
        stroke: new ol.style.Stroke({
            color: 'red',
            width: 2,
        }),
        fill: new ol.style.Fill({
            color: 'rgba(255,0,0,0.2)',
        }),
    }),
};

const styleFunction = function (feature) {
    return styles[feature.getGeometry().getType()];
};


// 各種選択方法
// select interaction working on "singleclick"
const selectSingleClick = new ol.interaction.Select({
    style: ol.interaction.selectStyle
});
// select interaction working on "click"
const selectClick = new ol.interaction.Select({
    condition: ol.events.condition.click,
    style: ol.interaction.selectStyle,
});
// select interaction working on "pointermove"
const selectPointerMove = new ol.interaction.Select({
    condition: ol.events.condition.pointerMove,
    style: ol.interaction.selectStyle,
});
// Alt + click
const selectAltClick = new ol.interaction.Select({
    style: ol.interaction.selectStyle,
    condition: function (mapBrowserEvent) {
        return click(mapBrowserEvent) && altKeyOnly(mapBrowserEvent);
    },
});

/**
 * Create an overlay to anchor the popup to the map.
 */
const overlay = new ol.Overlay({
    element: document.getElementById('popup'),
    autoPan: {
        animation: {
            duration: 250,
        },
    },
});
/**
 * Add a click handler to hide the popup.
 * @return {boolean} Don't follow the href.
 */
closer.onclick = function () {
    overlay.setPosition(undefined);
    closer.blur();
    return false;
};


const map = new ol.Map({
    //layers: [
    //    new ol.layer.Tile({
    //        source: new ol.source.OSM(),
    //    }),
        //vectorLayer, // ソース内のgeojsonから
    //     vectorLayer2, // url指定のgeojsonから
    //],
    target: 'map',
    overlays: [overlay],
    view: new ol.View({
    //    projection: 'EPSG:4326', //default=3857
        projection: 'EPSG:3857', //default
        center: [0, 0],
        zoom: 2,
    }),
});

let select = selectSingleClick;
map.addInteraction(select);
select.on('select', function (e) {
    console.log(e);
    // e.targetはSelectオブジェクトか？
    
    console.log(e.target.getFeatures().getLength() +
        ' selected features (last operation selected ' +
        e.selected.length +
        ' and deselected ' +
        e.deselected.length +
        ' features)');
    if (e.selected.length < 1) return;
    // feature -> values string
    const features = e.target.getFeatures(); //Collection<Feature>
    const feature = features.item(0); // Feature
    console.log(feature);
    console.log(feature.getKeys());
    let content = "<h3>[情報]</h3>\n";
    feature.getKeys().forEach((k) => {
        if (k === 'geometry') { return }
        if (k === 'wkb_geometry') { return }
        console.log(feature.get(k));
        content += '' + k + '=' + feature.get(k) + "<br/>\n";
    });
    console.log(content);
    const popup_content = document.getElementById('popup-content');
    console.log(popup_content);
    popup_content.innerHTML = content;
    //const coordinate = feature.getGeometry().getCoordinates();
    const geometry = feature.getGeometry();
    // extentの中央なのでLine上にないことも多い
    coordinate = ol.extent.getCenter(geometry.getExtent());
    console.log(coordinate);
    overlay.setPosition(coordinate);
});

// OpenStreetMapレイヤの追加
/*
map.addLayer(new ol.layer.Tile({
    source: new ol.source.OSM(),
    id: 'osm'
}));*/


// mapserver wmsレイヤの追加
const wms = new ol.layer.Tile({
    //extent: [-13884991, 2870341, -7455066, 6338219],
    source: new ol.source.TileWMS({
        url: '/mapscript/',
        params: {'LAYERS': 'land', 'TILED': true},
        //serverType: 'mapserver',//mapserver, geoserver, carmentaserver, qgis
        // Countries have transparency, so do not fade tiles:
        transition: 0,
    }),
});
map.addLayer(wms);

const layers = [];

function updateLayersControl() {
    const control = document.getElementById('layers');
    layers.forEach((layer) => {
        console.log('layer=' + layer['f_table_name']);
        const p = document.createElement('p', 'layer');
        p.innerText = layer['f_table_name']; // HTMLElement.innerText
        control.appendChild(p);

        //
        // LAYER ON/OFF
        //
        const input = document.createElement('input');
        //if (lyr.get('type') === 'base') {
        //    背景レイヤは一度に1つしかつかわない
        //    input.type = 'radio';
        //}
        //else {
        input.type = 'checkbox';
        //}
        input.id = layer['f_table_name'];// checkboxId;
        input.checked = true; //lyr.get('visible');
        //input.indeterminate = lyr.get('indeterminate');
        input.onchange = function (e) {
            const target = e.target;
            //LayerSwitcher.setVisible_(map, lyr, target.checked, options.groupSelectStyle);
            //render(lyr);
            console.log('onchange layer (' + layer['f_table_name'] + ') ' + target.checked);
            const l = map.getLayerById(layer['f_table_name']);
            l.setVisible(target.checked);
        };
        control.appendChild(input);

        //
        // LABEL ON/OFF
        //
        const input2 = document.createElement('input');
        //if (lyr.get('type') === 'base') {
        //    背景レイヤは一度に1つしかつかわない
        //    input.type = 'radio';
        //}
        //else {
        input2.type = 'checkbox';
        //}
        input2.id = layer['f_table_name'];// checkboxId;
        input2.checked = false; //true; //lyr.get('visible');
        //input.indeterminate = lyr.get('indeterminate');
        input2.onchange = function (e) {
            const target = e.target;
            console.log('onchange label (' + layer['f_table_name'] + ') ' + target.checked);
            layer['label_visible'] = target.checked;

            const l = map.getLayerById(layer['f_table_name']);
            l.getSource().refresh();

            console.log('dump layers ======================');
            console.log(layers);
        };
        control.appendChild(input2);


    });
}

const SCRIPT_ROOT = {{ request.script_root | tojson }};

function fetch_layers() {
    console.log('body.onload');

    const sources = [];

    //let user_id = 10;
    //let user_url = `${SCRIPT_ROOT}/maptables_api/${user_id}`
    const user_url = `${SCRIPT_ROOT}/maptables_api`;
    console.log('url = ' + user_url);
    fetch(user_url).then((response) => {
        return response.json()
    }).then((data) => { // .jsonのpromiseをthenで解体
        console.log('then1 ===== for every layers');
        console.log(data);

        // globalなlayers配列をセットアップ
        data.forEach((layer) => {
            //layer['label_visible'] = true;
            layer['label_visible'] = false;
            layers.push(layer);
        });

        updateLayersControl();

        layers.forEach((layer) => {
            console.log('layer=' + layer['f_table_name']);

            // urlに指定された場所のgeojsonをソースとする
            const lines_url = `${SCRIPT_ROOT}/lines_api/${layer['f_table_name']}`;
            console.log('lines_url=' + lines_url );
            const aSource = new ol.source.Vector({
                //url: '/lines_api/' + layer['f_table_name'],
                url: lines_url,
                format: new ol.format.GeoJSON(
                    { featureProjection: 'EPSG:3857' }
                ),
            });
            sources.push(aSource);

            const aVectorLayer = new ol.layer.Vector({
                id: layer['f_table_name'],
                source: aSource,
                style: function (feature) {
                    const layer_name = layer['f_table_name']; //feature.get('layer');
                    //console.log('on style ' + layer_name);
                    //console.log(feature);
                    //console.log(layer);

                    let color1 = '#ee0000';
                    let color2 = '#00ee00';
                    
                    switch (layer_name) {
                        case 'main_line':
                            color1 = '#ee0000';
                            color2 = '#0000ee';
                            break;
                        case 'sub_line':
                            color1 = '#ee0000';
                            color2 = '#00eeee';
                            break;
                        case 'branch_line':
                            color1 = '#00ee00';
                            color2 = '#ee00ee';
                            break;
                        case 'sub_out':
                            color1 = '#ee0000';
                            color2 = '#ee0000';
                            break;
                        default:
                            const s = styles['Point'];
                            if (layer['label_visible']) {
                                s.setText(new ol.style.Text({
                                    font: '16px sans-serif',
                                    textAlign: 'right',
                                    justify: 'left',
                                    text: feature.get('名称') + '\n' + layer_name + '\n' + feature.get('keycode'),
                                    fill: new ol.style.Fill({
                                        color: [255, 255, 255, 1],
                                    }),
                                    backgroundFill: new ol.style.Fill({
                                        color: [168, 50, 153, 0.6],
                                    }),
                                    padding: [2, 2, 2, 2],
                                    overflow: true // 図形からはみ出るラベルも表示する
                                }));
                            } else {
                                s.setText(null);
                            }
                            return s;
                    }

                    // ラベル
                    textStyle = null;
                    if (layer['label_visible']) {
                        textStyle = new ol.style.Text({
                            font: '16px sans-serif',
                            textAlign: 'right',
                            justify: 'left',
                            text: feature.get('名称') + '\n' + layer_name + '\n' + feature.get('keycode'),
                            fill: new ol.style.Fill({
                                color: [255, 255, 255, 1],
                            }),
                            backgroundFill: new ol.style.Fill({
                                color: [168, 50, 153, 0.6],
                            }),
                            padding: [2, 2, 2, 2],
                            overflow: true // 図形からはみ出るラベルも表示する
                        });
                    }

                    const retStyle = [
                        // スタイル1(ライン下地)
                        new ol.style.Style({
                            stroke: new ol.style.Stroke({
                                //color	Color | ColorLike | undefined
                                //lineCap	CanvasLineCap (defaults to 'round')	butt, round, or square.
                                //lineJoin	CanvasLineJoin (defaults to 'round')	bevel, round, or miter.
                                //lineDash	Array.<number> | undefined
                                //lineDashOffset	number (defaults to 0)
                                //miterLimit	number (defaults to 10)
                                //width	number | undefined
                                color: color1, // '#ee0000', //outerColor,
                                width: 7,
                            }),
                            zIndex: 0,
                            
                        }),
                        // スタイル2(ライン上塗)
                        new ol.style.Style({
                            stroke: new ol.style.Stroke({ 
                                color: color2, // '#00ee00', //color,
                                width: 5,
                            }),
                            zIndex: 1,
                            // ラベル
                            text: textStyle
                        })
                    ];
                    return retStyle;
                },
            });
            map.addLayer(aVectorLayer);

        });

        // 各vectorSourceの読み込み完了Promiseを作成
        const loadPromises = sources.map((source) =>
            new Promise((resolve) => {
                source.once('change', function () {
                    console.log('onchange source');
                    if (source.getState() === 'ready') {
                        resolve();
                    }
                });
            })
        );
        // すべてのPromiseが完了したときに地図を全体にフィット
        Promise.all(loadPromises).then(() => {
            console.log('on promise all');
            const extent = sources.reduce((totalExtent, source) => {
                return ol.extent.extend(totalExtent, source.getExtent());
            }, ol.extent.createEmpty());

            map.getView().fit(extent, {
                padding: [10, 10, 10, 10],
            });
        });


    });
    fetch(user_url).then((response) => {
        const data = response.json() // Body.json()はPromiseを返す
        console.log('then2');
        console.log(data); // => Promise
    });

    updateLayersControl();
}

//stroke
//https://openlayers.org/en/latest/apidoc/module-ol_style_Stroke-Stroke.html


/* レイヤのイテレーション */
map.getLayers().forEach(function (layer) {
    if (layer.get('id') === 'moge') {
        console.log('hit');
    } else if (layer.get('id') === 'hoge') {
        console.log('hit2');
    } else {
        console.log('no');
    }
});

// ロードが発生しない場合はここでfit可能
//map.getView().fit(vectorSource.getExtent());


// オブジェクトのプロトタイプに新しい関数を追加
// idでレイヤを検索返却する関数をmapについか
map.getLayerById = function(id) {
    let foundLayer = null;
    this.getLayers().forEach(function (layer) {
        console.log(layer.get('id'));
        if (layer.get('id') === id) {
            foundLayer = layer;
        }
    });
    return foundLayer;
};


test = function() {
    console.log('on test');
    console.log(map.getLayerById('hoge'));
    const layer = map.getLayerById('moge');
    layer.setVisible(false);
}

    </script>
</body>
</html>