<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Map</title>
    <script src="static/progressbar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ol@v7.1.0/dist/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.1.0/ol.css">
    <style>
      .map {
        width: 100%;
        height: 600px;
      }
    </style>
  </head>
  <body>
    <div id="map" class="map"></div>
    <div class="progress" id="progress"></div>
    <select id="farmer_select">
        <option value="16511">a</option>
        <option value="79415">b</option>
        <option value="0">all</option>
    </select>

    <script>
// env_js
// "255 255 0" => "#ffff00"
function to_webcolor(text_color) {
    let colors = text_color.split(' ');
    let webcolor = "#" + colors.map(function(value) {
        var s = "0" + parseInt(value).toString(16); // 0つけて最大3桁
        return s.slice(-2); //後ろ2桁を切り出し
    }).join("");
    return webcolor;
}

let feature_number = -1;
let progress = 0;
const beginProgress = function(max) {
    progress = 0;
    feature_number = max;
    //bar.set(0.1);
    bar.animate(0.1);
};
const countProgress = function() {
    progress++;
    const p = 0.5 + (progress / (feature_number * 2));
    console.log('progress=' + p);
//    bar.set(p);
    bar.animate(p);
}
const finishProgress = function() {
    bar.animate(0);
}

const featureStyle = function (feature) {
    countProgress();
    //console.log('on style function' + feature.get('no'));
    //console.log(feature);
    const style = new ol.style.Style({
        stroke: new ol.style.Stroke({
        color: 'magenta',
      }),
      // 塗り
      fill: new ol.style.Fill({
        color: '#ee0000',
      }),
      // ラベル
      text: new ol.style.Text({
        font: '16px sans-serif',
        textAlign: 'right',
        justify: 'left',
            text: feature.get('crop_name') + ':' + feature.get('farmer_name'),
            fill: new ol.style.Fill({
                color: [255, 255, 255, 1],
            }),
            backgroundFill: new ol.style.Fill({
                color: [168, 50, 153, 0.6],
            }),
            padding: [2, 2, 2, 2],
            overflow: true // 図形からはみ出るラベルも表示する
        }),
    });
    const color = to_webcolor(feature.get('color')) || '#ee0000';
    style.getFill().setColor(color);
    return style;
}

const map = new ol.Map({
  layers: [
    new ol.layer.Tile({
        className: 'layer-osm',
        properties: {'name': 'osm'},
        source: new ol.source.OSM(),
    }),
    //vectorLayer2, // url指定のgeojsonから
  ],
  target: 'map',
  view: new ol.View({
//    projection: 'EPSG:4326', //default=3857
    projection: 'EPSG:3857', //default
    center: [0, 0],
    zoom: 2,
  }),
});
console.log(map);

const bar = new ProgressBar.Line('#progress', {
    color: '#FCB03C',
    duration: 1000,
    easing: 'easeInOut'
});

//window.onload = function onLoad() {
//};

function addFarmersLayer(farmer_code) {
    // 既存レイヤを削除
    const layers = map.getLayers();
    layers.forEach(layer => {
        console.log(layer.get('name'));
        if (layer.get('name') === 'features') {
            map.removeLayer(layer);
        }
    });

    // 新規レイヤを追加
    const newSource = new ol.source.Vector({
        url: '/hojos/' + farmer_code,
        format: new ol.format.GeoJSON(
            { featureProjection: 'EPSG:3857' }
        ),
    });
    // geojsonのダウンロードが終わってからgetExtent => fitする
    // https://stackoverflow.com/questions/32585318/how-to-get-the-extent-of-a-geojson-vector-source
    newSource.once('change', function(e) {
        console.log('newSource changed' + e);
        console.log(e);
        if (e.target.getState() === 'ready') {
            feature_number = e.target.getFeatures().length;
            console.log(feature_number + ' features loaded.');
            beginProgress(feature_number);

//            bar.animate(progress);
            //if (layers[0].getSource().getFeatures().length > 0) {
            if (e.target.getFeatures().length > 0) {
                map.getView().fit(e.target.getExtent(), map.getSize());
            }
        }
    });
    const newLayer = new ol.layer.Vector({
        className: 'layer-features',
        properties: {'name': 'features'},
        source: newSource,
        style: featureStyle,// callback function
    });
    map.addLayer(newLayer);
}

// selection change
function onChangeSelect() {
    console.log('farmer select changed');
    console.log(this.selectedIndex); //this=select
    console.log(this.value);

    addFarmersLayer(this.value);
}

const el = document.getElementById("farmer_select");
el.addEventListener("change", onChangeSelect, false);

    </script>
  </body>
</html>